/**
 * @file
 * Styles for entities embedded with entity embed.
 */

.embedded-entity-placeholder {
  background-color: #ddd;
  width: auto;
  height: 220px;
  text-align: center;
  padding: 15px;
}

.embedded-entity-placeholder h2 {
  padding-top: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.embedded-entity-placeholder ul.contextual-links {
  padding: 0 0;
}

.embedded-entity-placeholder ul.contextual-links li {
  list-style-type: none;
  font-size: 0.8em;
}
